body 
{    /* voor de achtergrond enzo.. */
/* background-image: url(http://www.mupload.nl/img/zydk0bbzv.png);  */
background-image: url(pictures/background.png);
background-repeat: repeat; 
background-color: #0099BB;
background-attachment:fixed;
}
.STY1 	
{				/* voor de bovenste kop */
font-family:arial; 
font-size:25px; 
color:#FFFFFF; 
font-style: normal; 
font-weight:bold;
text-align:left;
}  
.STY2 
{				/* voor de bovenste kop van het menu */
font-family:arial; 
font-size:16px; 
color:#FFFFFF; 
font-style: normal; 
font-weight:bold;
}    	
.STY3
{				/* voor de gewone menu items */
color:#000000; 
font-family:arial; 
font-size:15px; 
line-height: 125%;
text-decoration: none;
}
.STY3:hover
{				/* voor de gewone menu items */
color:#0000A0; 
font-family:arial; 
font-size:15px; 
line-height: 125%;
text-decoration: underline;
}
.STY4
{				/* voor de disclamer */
font-family:arial; 
font-size:10px; 
color:#000000; 
font-style: normal; 
font-weight:lighter;
text-align:center;
}	
.STY5
{				/* voor alle gewone text */
font-family:arial; 
font-size:15px; 
color:#000000; 
font-style: normal; 
font-weight:normal;
}
.STY6
{				/* voor dik gedrukte gewone text */
font-family:arial; 
font-size:15px; 
color:#000000; 
font-style:normal; 
font-weight:bold;
}
#BovenText 	
{
	width: 975px;
	min-width: 975px;
	max-width: 975px;
	height:60px;
	background-color:#000000;
	clear: both;
	padding: 6px;  
	margin-top: 6px;
    margin-right: 6px;  
    margin-bottom: 6px;
	box-shadow: 0 8px 6px -6px black;
	margin-left: 6px;
}
#Body	
{
	width:1000px;
	min-width:1000px;
	max-width:1000px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	border: 1px;
	padding: 0px;
	border-style: solid;
	border-color: #000000;
	background-color: #004C5E;
}
#HeleMenu	
{
	border: 1px;
	width:203px;
	height:1194px;
	float:left;    
		margin-right: 6px;
		margin-bottom: 6px;  
		margin-left: 6px;
}
#Menu	
{
	box-shadow: 0 8px 6px -6px black;
	margin-bottom: 6px;
	border: 1px;
	border-style: solid;
	border-color: #000000;
}
#Menu1
{
	padding: 6px;
	background-color:#000000;
	border: 1px;
	border-style: solid;
	border-color: #000000;
}
#Menu2
{
	padding: 6px;
	background-color:#FFFFFF;
}
#Home 	
{
	width:764px;
	height:1200px;
	background-color:#FFFFFF;
	float: right;
	padding:6px;
	margin-top: 0px;
    margin-right: 6px; 
    margin-bottom: 6px; 
	margin-left: 0px;
	box-shadow: 0 8px 6px -6px black;
	border: 1px;
	border-style: solid;
	border-color: #000000;


}
#MenuHome
{
	padding: 6px;
	background-color:#000000;
	border: 1px;
	border-style: solid;
	border-color: #000000;
	margin-right: -6px;
	margin-left: -6px;
	margin-top: -6px;
}
#Disclamer	
{
	width: 974px;
	min-width: 974px;
	max-width: 974px;
	height:60px;
	background-color:#FFFFFF;
	clear:both;
	padding:6px;  
    margin-right: 6px;  
    margin-bottom: 6px;
	box-shadow: 0 8px 6px -6px black;
	border: 1px;
	border-style: solid;
	border-color: #000000;
	margin-left: 6px;
}
#DisclamerMenu
{
	padding: 6px;
	background-color:#000000;
	border: 1px;
	border-style: solid;
	border-color: #000000;
	margin-right: -6px;
	margin-left: -6px;
	margin-top: -6px;
}